{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<div id="WhoAreWe" class="container w-full lg:w-10/12 mx-auto py-4">
    <!-- <h1 class="">{{ page.title }}</h1> -->
    
    <div class="block lg:flex flex-col">

        <div class="w-full block py-8 text-center">
            <h2 class="red">Qui sommes-nous ?</h2>

            <div class="quote">
                <div class="content">
                    <i class="icon left"></i>
                    <blockquote class="blockquote mx-auto">
                        Née le 23 Mai 2020, l'<strong>UPEEM</strong>, l'<strong>Union des Parents d' Elèves et d' Etudiants de Martinique</strong> est le fruit de la volonté de professionnels et de bénévoles oeuvrant depuis plus de 20 ans dans le domaine de l'éducation et de la formation de travailler ensemble à élargir statutairement et géographiquement leurs champs d'actions. 
                        <br/>
                        Il s'agit pour ces partenaires d'oeuvrer à l'élaboration et à la mise en oeuvre de projets adaptés à notre réalité sociale et économique et notamment afin d'être en mesure comme stipulé dans notre objet social:
                        <br/>
                        <ul>
                            <li>
                                - De défendre l'intérêt général, matériel et moral des <strong>familles</strong> et de la <strong>jeunesse</strong>.
                            </li>
                            <li>
                                - De promouvoir un système Educatif Scolaire et Universitaire de qualité prenant sa place dans le contexte Caribéen.
                            </li>
                            <li>
                                - <strong> De promouvoir la mise en synergie de toutes les Associations autonomes de Parents d'Elèves</strong> <strong>et d'Etudiants de la Guadeloupe, la Guyane, et de Saint-Martin</strong>.
                            </li>
                            <li>
                                - D'impulser une dynamique collective pour l'évolution des programmes scolaires et universitaires de ces Régions.
                            </li>
                            <li>
                                - D'Organiser toute action en vue de la <strong>formation dans le domaine de l'Education Populaire</strong> des femmes et des hommes, telle que la <strong>création d'un centre de formation agréé</strong>.
                            </li>
                            <li>
                                - De mettre en oeuvre des actions de sensibilisation sur les problématiques sociétales et éducatives ainsi que des<strong></strong> actions d'éveils culturels et personnels à destination des élèves</strong>
                            </li>
                          
                        </ul>
                    </blockquote>
                    <i class="icon right"></i>
                </div>
                <div class="author">
                    - Projet Educatif de l'UPEEM
                </div>
            </div>
            
        </div>

        <div class="w-full block text-center py-16">
            <h2 class="orange">Notre équipe</h2>

            <div class="ui statistics justify-center py-8">
                <div class="statistic">
                    <div class="text value">
                        <i class="icon child"></i>
                        1
                    </div>
                    <div class="label">
                        éducatrice <br></b>de Jeunes enfants
                    </div>
                </div>
                <div class="statistic">
                    <div class="text value">
                        <i class="icon wheelchair"></i>
                      1
                    </div>
                    <div class="label">
                        éducatrice <br>spécialisée
                    </div>
                </div>
                <div class="statistic">
                    <div class="text value">
                        <i class="icon universal access"></i>
                      1
                    </div>
                    <div class="label">
                        moniteur <br>éducateur
                    </div>
                </div>
                <div class="statistic">
                    <div class="text value">
                        <i class="icon users"></i>
                        PLUS DE<br>
                        60
                    </div>
                    <div class="label">
                        collaborateurs
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full block py-8 text-center">
            <h2 class="turquoise">Nos missions</h2>

            <div class="quote orange dashed">
                <div class="content">
                    <i class="icon left"></i>
                    <blockquote class="blockquote">
                        Dans les ACM où nous sommes présents sont mis en œuvre des projets pédagogiques en relation avec les PEDT des villes, nous y intégrons la transmission de nos valeurs positives humaines et culturelles, ciments de l’UPEEM
                    </blockquote>
                    <i class="icon right"></i>
                </div>
                <div class="author">
                    - le Président de l'UPEEM
                </div>
            </div>
        </div>

        <div class="w-full block py-8 text-center">
            <h2 class="block purple">Nos partenaires</h2>
            
            <div class="block">
                <img src="/images/B2kQDwP1EXQ8XqnS6tuL1Y-A1rY=/29/original/" class="inline-block mr-4">
                <!-- <img src="/images/r2ezwqPCv5QTfFp7uKo5g2CqMIQ=/30/original/" class="inline-block"> -->
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
</script>
{% endblock %}
